.nav {
  grid-area: n;
  background-color: #292929;
  padding: 20px;
  padding-top: 80px;
  position: fixed;
  height: 100%;
  width: 150px;
  box-sizing: border-box;
}

.item {
  margin-bottom: 15px;
}

.item a:hover {
  color: white;
  transition: 0.5s;
}

.item a {
  color: #abaaa6;
  text-decoration: none;
}

.item a.active {
  color: white;
  text-decoration: none;
}
