.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  width: 1024px;
  min-height: 100vh;
}

.app-wrapper-content {
  background-color: white;
  padding: 20px;
  grid-column: 2/3;
}
